<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Index</title>
</head>
<body>
<a href="/books?sort_by_year=true">Сортировать по году</a>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getTitle() + ', ' + book.getAuthor()+ ', ' + book.getYear()}">books</a>
</div>

<br/>
<hr/>

<a href="/books/new">Внести Книгу в список</a>
<br>
<a href="/books/search">Поиск по книгам</a>
<br>
<a href="/people">Назад</a>

</body>
</html>